/*Author: Ing(c) Santiago Aristizabal Sepulveda
Primer Bootcamp "íscina-42" UTP sobre fullstack
Date: 2023-01-13
Technologic University of Pereira*/

*{  /*Aplica estas propiedades a todo el documento*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ /*Aplica estas propiedades a todo el cuerpo del body*/
    min-height: 125vh;
    background-image: url('imagenes/estrellas-bg.png'), url('imagenes/background.png');
    background-color: #f2d272;
    background-size: auto 300px cover;
    background-repeat: repeat-x, no-repeat;
}

/*START CSS HEADER */

    /*Este es el encabezado*/
header{ /*Estas propuedades se aplican al encabezado - header*/
    position: absolute; /*Aplica una posicion absoluta al encabezado*/
    display: inline-flex; /*Aplica un flexbox*/
    flex-flow: row wrap; /*Abreviatura de flex-direction y flex-wrap*/
    justify-content: space-between; /*Distribuye el espacio entre los elementos*/
    top: 0; /*Determina la distancia entre el borde superior del elemento y el borde superior del bloque que lo contiene.*/

}

    /*This is the image container for header*/
header .imageContainer{
    display: flex; /*Aplica un flexbox*/
    width: 28%; /*Determina la longitud del contenedor del logo del encabezado*/
    align-items: center; /*Aplica un flexbox*/
    justify-content: center; /*Controla la alineación de los elementos en que se encuentran dentro del contenedor del logo del encabezado*/
    padding: 10px; /*Aplica un padding de 10px al contenedor*/
    background-color: #fff; /*Determina el color de fondo del contenedor de la imagen*/
}

    /*This is the logo of header*/
header .imageContainer .logoEscuelaDidactica{
    width: 90%; /*Determina la longitud del largo de la imagen*/
    max-width: 350px; /*Determina la longitud del alto de la imagen*/
}

    /*This is the text container for header*/
header .textContainer{
    width: 72%; /*Determina la longitud del largo del contenedor que agrupa el texto*/
    padding: 10px; /*Aplica un padding de 10px al contenedor*/
    background-color: #e6f9f4; /*Determina el color de fondo del contenedor del texto*/
}

    /*This is the title of header*/
header .textContainer .textContainer-title{
    width: 100%; /*Determina la longitud del largo del div que abarca el titulo*/
    font-size: 200%; /*Aplica un tamaño de fuente al div que abarca el titulo*/
    font-family: 'Arlon'; /*Aplica una fuente al div que abarca el titulo*/
    color: #5fa3a5; /*Determina el color que tendran los elementos del div que abarca el titulo*/
}

    /*This is the paragraph of header*/
header .textContainer .textContainer-paragraph{
    color: #161b1c;
    width: 100%; /*Determina la longitud del largo del div que abarca el parrafo*/
    font-size: 25px; /*Aplica un tamaño de fuente al div que abarca el parrafo*/
    line-height: 37px; /*Aplica un interlineado al parrafo*/
}

/*END CSS HEADER */

/*START CSS CARD CONTAINER */

    /*This is the middle space for cards and vertical logos*/
.Container{ /*Contenedor principal - abarxa los iconos laterales y el tablero de cartas*/
    position: absolute; /*Aplica una posicion absoluta al contenedor principal*/
    width: 100%; /*Determina la longitud del largo del div que abarca el main del documento - iconos laterales y tablero de cartas*/
    display: flex; /*Aplica un flexbox*/
    flex-flow: row wrap; /*Abreviatura de flex-direction y flex-wrap*/
    justify-content: center; /*Controla la alineación de los elementos en que se encuentran dentro del contenedor del logo del encabezado*/
    margin-top: 160px; /*Aplica un margen superior al contenedor principal con respecto a otro elemento*/

}

    /*This is the icon container for vertical logos*/
.Container .verticalIcons{ /*Clase para la barra de iconos laterales*/
    display: flex; /*Aplica un flexbox*/
    flex-direction: column; /*Determina la direccion del flexbox en los iconos laterales*/
    position: fixed; /*Fija la posicion de la barra de iconos laterales*/
    margin-top: 200px; /*Aplica un margen superior al contenedor de la barra de iconos laterales con respecto a otro elemento*/
    margin-left: -97%;  /*Aplica un margen izquierdo al contenedor de la barra de iconos laterales con respecto a otro elemento*/
}

.Container .verticalIcons a{ /*Clase que modifica de cada uno de los iconos laterales*/
    opacity: 0.5; /*Aplica una opacidad media a cada uno de los iconos laterales*/
}

/*This is the icon container for vertical logos*/
.Container .verticalIcons a:hover{ /*Clase que modifica de cada uno de los iconos laterales cuando el cursor se encuentra sobre los iconos*/
    opacity: 1; /*Quita la opacidad al icono que se encuentra debajo del cursor*/
}

/*This is the card container for cards*/
.Container .cardContainer{ /*Div que abarca el tablero sobre el cual se distribuyen las cartas*/
    width: 780px; /*Determina la longitud del largo del div que abarca unicamente a las cartas*/
    display: inline-flex; /*Aplica un flexbox al div que contiene unicamente a las cartas*/
    flex-flow: row wrap; /*Abreviatura de flex-direction y flex-wrap*/
    margin-left: 6%; /*Aplica un margen izquierdo unicamente al contenedor que contiene las cartas con respecto a otro elemento*/
    padding-top: 20vh; /*Aplica un padding superior al div que abarca a las cartas con respecto a su margen*/
    padding-bottom: 20vh; /*Aplica un padding inferior al div que abarca a las cartas con respecto a su margen*/
    position: relative; /*Aplica una posicion relativa unicamente al contenedor de las cartas*/
}

    /*This is contanier for cards*/
.Container .cardContainer .grandpaContainer{ /*Div que abarca el area de cada carta*/
    width: 170px; /*Determina la longitud del largo del div que abarca el area de cada carta*/
    height: 25%; /*Determina la longitud del alto del div que abarca el area de cada carta*/
    perspective: 1000px; /*Es la perspectiva desde la que se vería el espectador si la interfaz bidimensional fuera tridimensional*/
}

    /*That contains transitions of cards*/
.Container .cardContainer .grandpaContainer .parentContainer{ /*Div que abarca la cara superior y trasera de cada carta*/
    width: 100%; /*Determina la longitud del largo del div que abarca la cara superior y trasera de cada carta*/
    height: 100%; /*Determina la longitud del alto del div que abarca la cara superior y trasera de cada carta*/
    transition: transform 0.5s ease-in-out; /*Aplica una transicion a la carta*/
    transform-style: preserve-3d; /*Propiedad que se establece para que los elementos hijos se ubiquen de manera 3D*/
}

    /*This is the back-card*/
.Container .cardContainer .grandpaContainer .parentContainer .child2{
    width: 100%;
    height: 100%;
    margin-top: -107%;
    transform: rotateY(180deg);
}

    /*This is the image of back-card*/
.Container .cardContainer .grandpaContainer .parentContainer .child2 img{
    width: 100%;
    height: 100%;
}


    /*That hidde the back-face of the card*/
.Container .cardContainer .grandpaContainer .parentContainer .child1, .Container .cardContainer .grandpaContainer .parentContainer .child2{
    backface-visibility: hidden;
}

    /*This is the rotation for card*/
.rotation{
    transform: rotateY(180deg);
}

    /*This is the image of the front-face card*/
.Container .cardContainer .grandpaContainer .parentContainer .child1 img{
    width: 100%;
    height: 100%;
}

/*END CSS CARD CONTAINER */

/*START CSS MODAL INTRODUCTION*/

    /*This is the background modal*/
.backgroundModal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;

}

    /*This is the modal container*/
.containerIntro{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20vh;

}

    /*This is image container*/
.containerIntro .imageIntro{
    width: 1000px;
    position: absolute;
    animation: rebound1 1.5s 0s forwards ease-in;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    /*This is logo of 'Escuela didactica'*/
.containerIntro .imageIntro .imageIntro-image{
    position: relative;
    width: 50%;
    height: 50%;
}

    /*This is button container*/
.containerIntro .imageIntro .buttonIntro{
    margin-left: 18%;
    position: relative;
    width: 500px;
    height: 50px;
    animation: rebound-button1 1.5s 0s forwards ease-in;
    visibility: hidden;
    opacity: 0;
}

    /*This is button for modal*/
.containerIntro .buttonIntro .beginButton{
    width: 25%;
    height: 100%;
    font-size: 120%;
    background-color: #ed921f;
    border: 2px solid #ed921f;
    border-radius: 20px;
    box-shadow: 1px 7px 0 0 #d77c0e;
    color: #fff;
    font-weight: bold;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
}

    /*Propiedades para cuando el cursor esta sobre el boton de 'empezar'*/
.containerIntro .buttonIntro .beginButton:hover{
    transform: translateY(5px);
    box-shadow: 1px 3px 0 0 #d77c0e;
    cursor: pointer;
}

/*Fin CSS del modal de introduccion*/

/*Inicio CSS para el modal del rompecabezas*/

    /*Propiedades para el background de los modales*/
.grandpaContainerPop{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

    /*Este es el contenedor del modal del rompecabezas que es visible cuando una pareja es descubierta*/
.grandpaContainerPop .containerPop{
    position: absolute;
    height: 400px;
    width: 900px;
    border: 5px solid #ffc042;
    background-color: #ffc042;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

    /*This is container pesebre image and text*/
.grandpaContainerPop .containerPop .containerPuzzle{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #e6ce76;
    background-image: url('imagenes/estrellas.png');
    background-size: cover;
    border: 5px solid #e6ce76;
    display: flex;
    flex-flow: row wrap;
    overflow: clip;
    overflow-clip-margin: 10px;
}

    /*This is container text*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText{
    width: 40%;
    height: 100%;
    position: relative;
    border-radius: 0 20px 20px 0;
}

    /*This modify all children*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText *{
    position: absolute;
}

    /*This is ball image*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText .containerDecoration .ball{
    width: 100px;
    height: 90px;
    left: 260px;
}

    /*This is tape image*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText .containerDecoration .tape{
    width: 70px;
    height: 40px;
    left: 15px;
    top: 20px;
}

    /*This is flake image*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText .containerDecoration .flake1{
    width: 30px;
    height: 30px;
    top: 350px;
    left: 10px;
    animation: rotate 4s 0s ease-in-out infinite;
}

    /*This is flake image*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText .containerDecoration .flake2{
    width: 30px;
    height: 30px;
    top: 350px;
    left: 310px;
    animation: rotate 4s 0s ease-in-out infinite;
}

    /*This is title 'sabias que...'*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText h1{
    top: 40px;
    left: 100px;
    font-weight: bold;
    color: #bc3d2e;
}

    /*This is paragraph on the right*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    top: 120px;
    font-size: 20px;
    line-height: 30px;
}

    /*This is button 'continuar'*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText button{
    width: 130px;
    height: 35px;
    font-size: 120%;
    top: 300px;
    left: 113px;
    background-color: #ed921f;
    border: 2px solid #ed921f;
    border-radius: 20px;
    box-shadow: 1px 7px 0 0 #d77c0e;
    color: #fff;
    font-weight: bold;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
    z-index: 5;
}

    /*Animation of the button*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText button:hover{
    transform: translateY(5px);
    box-shadow: 1px 3px 0 0 #d77c0e;
    cursor: pointer;
}

    /*This is the container image*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage{
    width: 60%;
    height: 100%;
    position: relative;
}

.grandpaContainerPop .containerPop .containerPuzzle .containerImage img{
    position: absolute;
}

    /*This is image*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .pesebre{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

    /*Esta es la cobertura de la figura de baltazar*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-baltazar{
    height: 220px;
    width: 100px;
    left: 130px;
    top: 50px;
}

    /*Esta es la cobertura de la figura de melchor*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-melchor{
    height: 200px;
    width: 160px;
    left: 245px;
    top: 150px;
}

    /*Esta es la cobertura de la figura de gaspar*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-gaspar{
    height: 250px;
    width: 125px;
    left: 200px;
    top: 57px;
}

    /*Esta es la cobertura de la figura de maria*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-maria{
    bottom: 0;
    height: 210px;
    width: 150px;
}

    /*Esta es la cobertura de la figura de jose*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-jose{
    height: 250px;
    width: 100px;
    bottom: 45px;
    left: 12px;
}

    /*Esta es la cobertura de la figura de jesus*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-jesus{
    height: 120px;
    width: 115px;
    bottom: 5px;
    left: 135px;
}

    /*Esta es la cobertura de la figura de mula*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-mula{
    right: 0;
    bottom: 0;
    height: 225px;
    width: 105px;
    z-index: 1;
}

    /*Esta es la cobertura de la figura de pastor*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-pastor{
    height: 255px;
    width: 115px;
    right: 50px;
    top: 75px;
}

    /*This is Animation vibration for image cover*/
.vibration{
    animation: vibration 2s 0.7s forwards ease-in-out;
    transform-origin: 50% 4px;   
}

    /*This is Animation fall for image cover*/
.fall{
    animation: fall 2s 0.7s forwards ease-in-out;
}

/*END CSS MODAL PESEBRE*/

/*START CSS FOOTER MODAL*/

.containerIconsGameOver{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.containerIconsGameOver .iconsGameOver{
    width: 900px;
    height: 80px;
    position: absolute;
    background-color: #07584e;
    top: 380px;
    right: 1px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 10px;
}

.containerIconsGameOver .iconsGameOver img{
    width: 50px;
    height: 50px;
}

.containerIconsGameOver .iconsGameOver p{
    color: #fff;
}


/*END CSS FOOTER MODAL*/

/*START CSS FOOTER */

    /*Propiedades para el footer*/
footer{
    width: 100%;
    padding: 7px 15px 7px;
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: #e6f9f4;
    font-size: 16px;
    box-shadow: 0 0px 4px hsl(0deg 0% 0% / 20%);
}

    /*Este es el contenedor de la frase ubicada a la izquierda del footer*/
footer .phraseContainer{
    width: 65%;
}

footer .phraseContainer .logoEscuelaDidactica{
    width: 25%;
    height: 60%;
    vertical-align: middle;
}

    /*Este es el contenedor de los iconos ubicados a la derecha del footer*/
footer .iconsContainer{
    width: 30%;
    display: inline-flex;
    right: 10px;
    display: flex;
    position: absolute;
    justify-content: end;
} 


    /*Este es el contenedor para la frase 'Síguenos'*/
footer .iconsContainer .iconsContainer-text{
    margin-top: 5px;
}

    /*Propiedades para el boton 'Contáctanos'*/
footer .iconsContainer .iconsContainer-button{
    border: 1px solid #79b5b5;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    background-color: #79b5b5;
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
    margin-left: 10px;
    padding: 1px;
}

    /*Este es el contenedor de cada uno de los iconos ubicados a la derecha del footer*/
footer .iconsContainer .iconsContainer-icons{
    width: 30px;
    height: 50px;
    margin-left: 5px;
}

    /*Este es el contenedor de las imagenes de los iconos ubicados a la derecha del footer*/
footer .iconsContainer .iconsContainer-icons .iconsContainer-icons-image{
    width: 30px;
    height: 25px;
    margin-top: 5px;
}

    /*Esta es la opacidad para cada uno de los iconos ubicados a la derecha del footer*/
footer .iconsContainer a{
    opacity: 0.5;
}

    /*Esta es la opacidad para cada uno de los iconos ubicados a la derecha del footer cuando el cursor se encuentra sobre uno de los iconos*/
footer .iconsContainer a:hover{
    opacity: 1;
}
    /*Fin CSS footer*/


    /*Animaciones para el modal de introduccion*/

@keyframes rebound-button{ /*Animacion de caida para el boton 'comenzar' del modal de introduccion*/
    0%{
        width: 100vw;
        height: 60px;
    }

    20%{
        width: 90vw;
        height: 50px;
    }

    40%{
        width: 100vw;
        height: 60px;
    }

    60%{width: 90vw;
        height: 50px;
    }

    80%{
        width: 100vw;
        height: 60px;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes rebound{ /*Animacion de caida para la imagen del modal de introduccion*/
    0%{
        width: 100vw;
    }

    20%{
        width: 90vw;
    }

    40%{
        width: 100vw;
    }

    60%{
        width: 90vw;
    }

    80%{
        width: 100vw;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes rebound-button1{ /*Animacion de caida para el boton 'comenzar' del modal de introduccion*/
    0%{
        width: 500px;
        height: 50px;
    }

    20%{
        width: 480px;
        height: 45px;
    }

    40%{
        width: 500px;
        height: 50px;
    }

    60%{width: 480px;
        height: 45px;
    }

    80%{
        width: 500px;
        height: 50px;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes rebound1{ /*Animacion de caida para la imagen del modal de introduccion*/
    0%{
        width: 1000px;
    }

    20%{
        width: 980px;
    }

    40%{
        width: 1000px;
    }

    60%{
        width: 980px;
    }

    80%{
        width: 1000px;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
}

    /*Animacion que realizan los copos de nieves ubicados en el modal que es visible cuando se encuentra una pareja de cartas*/

@keyframes rotate{ /*Animacion de rotacion de los copos de nieve del modal cuando se encuentra una pareja*/
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}

    /*Animacion para descubrir una carta del rompecabezas del modal cuando se encuentra una pareja*/

@keyframes vibration{ /*Animacion de vibracion para las coberturas de las figuras al momento que van a caer*/

    10%{
        transform: rotate(10deg);
    }

    20%{
        transform: rotate(-10deg);
    }

    30%{
        transform: rotate(10deg);
    }

    40%{
        transform: rotate(-10deg);
    }

    50%{
        transform: rotate(10deg);
    }

    60%{
        transform: rotate(-5deg);
    }

    70%{
        transform: rotate(5deg);
    }

    80%{
        transform: rotate(-3deg);
    }

    90%{
        transform: rotate(3deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes fall{ /*Animacion de caida para la cobertura de las figuras al momento de ser encontrada una pareja*/
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(1000px);
    }
}

@media (max-width: 750px) { /*Reconfiguracion de propiedades para el responsive para un max-width: 750px*/
    /*This is the middle space for cards and vertical logos*/

body{
    min-height: 125vh;
    background-image: url('imagenes/estrellas-bg.png'), url('imagenes/background.png');
    background-color: #f2d272;
    background-size: auto 300px cover;
    background-repeat: repeat-x, no-repeat;
    display: flex;
    flex-flow: column wrap;
}

header{
    display: flex;
    flex-flow: column ;
    justify-content: space-between;
    top: 0;
}

header .imageContainer{
    height: 40%;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

    /*Esta son las propiedades para imagen del logo del encabezado*/
header .imageContainer .logoEscuelaDidactica{
    width: 50%;
    height: 50%;
}

    /*Esta son las propiedades para el texto ubicado en el encabezado*/
header .textContainer{
    width: 100%;
    height: 60%;
    padding: 10px;
    background-color: #e6f9f4;
}

    /*Esta son las propiedades para el titulo ubicado en el contenedor de texto del encabezado*/
header .textContainer .textContainer-title{
    width: 100%;
    font-size: 200%;
    font-family: 'Arlon';
    color: #5fa3a5;
}

    /*Esta son las propiedades para el parrafo ubicado en el contenedor de texto del encabezado*/
header .textContainer .textContainer-paragraph{
    font-size: 80%;
    width: 100%;
    font-size: 22px; /*Aplica un tamaño de fuente al div que abarca el parrafo*/
    line-height: 33px; /*Aplica un interlineado al parrafo*/
}


/*------------------ middle zone ----------------------------*/

    /*Esta son las propiedades para el contenedor principal que abarca la barra de iconos laterales y el tablero de cartas*/
.Container{
    top: 200px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 150px;
    height: 60%;
}

   /*Este es el contenedor para la barra de los iconos laterales*/
.Container .verticalIcons{
    display: none;
}

    /*Este es el contenedor para el tablero donde se distribuyen las cartas*/
.Container .cardContainer{
    width: 100%;
    display: inline-flex; /*Aplica un flexbox al div que contiene unicamente a las cartas*/
    flex-flow: row wrap; /*Abreviatura de flex-direction y flex-wrap*/
    margin-left: 6%; /*Aplica un margen izquierdo unicamente al contenedor que contiene las cartas con respecto a otro elemento*/
    padding-top: 20vh; /*Aplica un padding superior al div que abarca a las cartas con respecto a su margen*/
    padding-bottom: 20vh; /*Aplica un padding inferior al div que abarca a las cartas con respecto a su margen*/
    position: relative; /*Aplica una posicion relativa unicamente al contenedor de las cartas*/
}

.Container .cardContainer .grandpaContainer{
    top: 500px;
    width: 23%;
    height: 25%;
    perspective: 1000px;
}

    /*Contiene las propiedades de las transiciones de las cartas al momento de ser giradas*/
.Container .cardContainer .grandpaContainer .parentContainer{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}


    /*Este es el contenedor de la parte trasera de la carta*/
.Container .cardContainer .grandpaContainer .parentContainer .child2{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -107%;
    transform: rotateY(180deg);
}

    /*Propiedades para la imagen insertada en la parte trasera de cada carta*/
.Container .cardContainer .grandpaContainer .parentContainer .child2 img{
    width: 100%;
    height: 100%;
}

/*-----------------footer----------------------------*/

footer{
    background-color: #e6f9f4;
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 30px;
    align-items: center;
}

    /*Este es el contenedor del texto ubicado a la izquierda del footer*/
footer .phraseContainer{
    display: none;
}

    /*Este es el contenedor de los iconos ubicados a la derecha del footer*/
footer .iconsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    float: right;
    position: absolute;
} 
}

@media (max-width: 850px){ /*Reconfiguracion de propiedades para el responsive para un max-width: 850px*/

.containerIntro{ /*Div del modal que es visible al momento de encontrar una pareja*/
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20vw;

}

    /*Este es el contenedor de la imagen del modal de introduccion*/
.containerIntro .imageIntro{
    width: 100vw;
    position: absolute;
    animation: rebound 1.5s 0s forwards ease-in;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    /*Este es el contenedor del boton 'empezar' del modal de introduccion*/
.containerIntro .imageIntro .buttonIntro{
    margin-left: 13%;
    position: relative;
    width: 100vw;
    height: 5vh;
    animation: rebound-button 1.5s 0s forwards ease-in;
    visibility: hidden;
    opacity: 0;

}

    /*Estas son las propiedades para el boton ubicado en el modal de introduccion*/
.containerIntro .buttonIntro .beginButton{
    width: 25%;
    height: 100%;
    font-size: 80%;
    background-color: #ed921f;
    border: 2px solid #ed921f;
    border-radius: 20px;
    box-shadow: 1px 7px 0 0 #d77c0e;
    color: #fff;
    font-weight: bold;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
}
}

@media (max-width: 920px){ /*Reconfiguracion de propiedades para el responsive para un max-width: 920px*/


        /*Este es el contenedor del rompecabezas del modalr*/
.grandpaContainerPop .containerPop{ /*Div del modal que es visible al momento de encontrar una pareja*/
    position: absolute;
    height: 600px;
    width: 400px;
    border: 5px solid #ffc042;
    background-color: #ffc042;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

    /*Este es el contenedor de la imagen del pesebre y el texto*/
.grandpaContainerPop .containerPop .containerPuzzle{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #e6ce76;
    background-image: url('imagenes/estrellas.png');
    background-size: cover;
    border: 5px solid #e6ce76;
    display: flex;
    flex-flow: column;
}

    /*Este es el contenedor unicamente del texto*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0 20px 20px 0;
}


    /*Este es el contenedor unicamente de la imagen*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: clip;
    overflow-clip-margin: 1px;
}

.grandpaContainerPop .containerPop .containerPuzzle .containerImage img{
    position: absolute;
}

    /*Estas son las propiedades para la imagen del pesebre*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .pesebre{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
}

    /*Esta es la cobertura de la figura de baltazar*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-baltazar{
    height: 170px;
    width: 70px;
    left: 90px;
    top: 41px;
}

    /*Esta es la cobertura de la figura de melchor*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-melchor{
    height: 160px;
    width: 125px;
    left: 170px;
    top: 115px;
}

    /*Esta es la cobertura de la figura de gaspar*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-gaspar{
    height: 200px;
    width: 80px;
    left: 150px;
    top:43px;
}

    /*Esta es la cobertura de la figura de maria*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-maria{
    height: 165px;
    width: 105px;
}

    /*Esta es la cobertura de la figura de jose*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-jose{
    height: 180px;
    width: 70px;
}

    /*Esta es la cobertura de la figura de jesus*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-jesus{
    height: 85px;
    width: 100px;
    left: 85px;
    
}

    /*Esta es la cobertura de la figura de mula*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-mula{
    height: 180px;
    width: 90px;
    bottom: 0;
}

    /*Esta es la cobertura de la figura de pastor*/
.grandpaContainerPop .containerPop .containerPuzzle .containerImage .image-pastor{
    height: 220px;
    width: 80px;
    left: 255px;
    top: 50px;
}

.grandpaContainerPop .containerPop .containerPuzzle .containerText p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    top: 80px;
    font-size: 20px;
    line-height: 30px;
}

    /*Esta son las propiedades para el boton 'continuar' del modal que es visible cuando se encuentra una pareja*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText button{
    width: 130px;
    height: 35px;
    font-size: 120%;
    top: 247px;
    left: 113px;
    background-color: #ed921f;
    border: 2px solid #ed921f;
    border-radius: 20px;
    box-shadow: 1px 4px 0 0 #d77c0e;
    color: #fff;
    font-weight: bold;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
}

    /*Esta son las propiedades cuando el cursor se encuentra sobre el boton 'continuar' del modal que es visible cuando se encuentra una pareja*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText button:hover{
    transform: translateY(2px);
    box-shadow: 1px 1px 0 0 #d77c0e;
    cursor: pointer;
}

.containerIconsGameOver .iconsGameOver{
    width: 400px;
    height: 80px;
    position: absolute;
    background-color: #07584e;
    top: 578px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 10px;
}

    /*Esta son las propiedades del copo de nieve ubicado a la izquierda*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText .containerDecoration .flake1{
    width: 30px;
    height: 30px;
    top: 250px;
    left: 10px;
    animation: rotate 4s 0s ease-in-out infinite;
}
    
    /*Esta son las propiedades del copo de nieve ubicado a la derecha*/
.grandpaContainerPop .containerPop .containerPuzzle .containerText .containerDecoration .flake2{
    width: 30px;
    height: 30px;
    top: 250px;
    left: 310px;
    animation: rotate 4s 0s ease-in-out infinite;
}
}

    /*Clase para ocultar un modal*/
.hidden{
    display: none;
}

    /*Clase que bloquea el scroll*/
.overflow{
    overflow: hidden;
}

    /*Clase para ocultar el modal al que se le aplique esta clase*/
.grandpaHidden{
    display: none; 
}

    /*Modifica el titulo del modal final, cuando ya se descubren todas las parejas*/
.center{
    font-size: 20px;
    font-weight: bold;
}